*{
    padding: 0;
}

body{
    background-color: #F3F5FC;
    height: 50vh;
    box-sizing: border-box;
}
header{
    width: 120px;/*LARGURA*/
    height: 48px;
    padding-left: 40px;
    padding-top: 40px;

}
main{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.entrada{
    width: 680px;
    height: 48px;
    margin: 40px 40px 40px 40px;
    padding: 40px;
}

p{
    margin: 0;
}
.crip__texto{
    color: gray;

    background-color: #F3F5FC;
    border: none;
    width: 680px;
    height: 200px;
}

.entrada__botoes{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    gap: 24px;
    width: 680px;
    height: 67px;
}
.crip__button{
    background-color: #0a3871;
    color: white;
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
}

.crip__button:hover, .des__button:hover{
    background-color: black;
}

.des__button{
    background-color: #D8DFE8;
    color: #0a3871;
    width: 328px;
    height: 67px;
    padding: 24px;
    gap:8px;
    border-radius: 24px;
    border: 1px #0a3871;
}

.saida__caixa{
    width: 400px;
    height: 944px;
    margin: 40px 40px 40px 40px;
    text-align: center;
    background-color: white;
    border-radius: 32px;
}

.saida__caixa__imagem{
    width: 366px;
    height: 304px;
    padding-top: 243px;
}

.saida__caixa__texto{
    width: 368px;
    height: 106px;
}