

:root{
    --cor-fundo:  #F3F5FC;
    --cor-azul:#0a3871;
}

*{
    padding: 0;
}

body{
    background-color: var(--cor-fundo);
    height: 50vh;
    box-sizing: border-box;
}
header{
    width: 120px;/*LARGURA*/
    height: 48px;
    padding-left: 20px;
    padding-top: 20px;
}

main{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.entrada{
 /* margin: Up   0 Donw left; */
    margin: 2rem 12% 2rem 12%;
}

.entrada__input{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    color: gray;
    size: 32px;
    background-color:var(--cor-fundo);
    border: none;
    width: 680px;
}
.entrada__legenda{
    margin-top: 300px;
}

.entrada__botoes{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    gap: 24px;
    width: 680px;
    height: 67px;
}
.crip__button{
    background-color: var(--cor-azul);
    color: white;
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
}

.crip__button:hover, .des__button:hover{
    background-color: black;
}

.des__button{
    background-color: #D8DFE8;
    color: var(--cor-azul);
    width: 328px;
    height: 67px;
    padding: 24px;
    gap:8px;
    border-radius: 24px;
    border: 1px var(--cor-azul);
}

.saida{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: white;
    border-radius: 32px;
    width: 400px;
    margin: 40px 40px 40px 40px;
}

.saida__caixa{
    margin: 40px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.saida__imagem{
    padding-top: 10px;
}

@media (max-width:1092px) {
    main{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:480px) {
    
}