*{
    padding: 0;
    display: flexbox;
}
header{
    padding-left: 40px;
    padding-top: 40px;
}

.area_cripto{
    display: flex;

}

.crip__texto{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.caixa_de_texto{
    
}
input{
    font-weight: 400px; 
}
.botoes{
    display: flex;
    justify-content: space-around;
    /*margin-top: 885px;
    margin-left: 240px;*/
    gap: 24px;
    width: 680px;
    height: 67px;
}
.crip__button{
    background-color: #0a3871;
    color: white;
    width: 328px;
    height: 67px;
    padding: 24px;
    gap:8px;
    border-radius: 24px;
}

.des__button{
    background-color: #D8DFE8;
    color: #0a3871;
    width: 328px;
    height: 67px;
    padding: 24px;
    gap:8px;
    border-radius: 24px;
    border: 1px #0a3871;
}